@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.display-none {
  display: none;
}

:root {
  --primary-text-color: #3a3a3a;
  --primary-font-size: 1rem;
  --btn-bg-color: #e02c6d;
  --btn-text-color: #ffffff;
}
/* Design for Navbar Start */
.navbar {
  margin: 40px 120px 50px 120px;
  display: flex;
  /* gap: 495px; */
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.nav-item {
  display: flex;
  gap: 34px;
}

.nav-item-name {
  font-size: var(--primary-font-size);
  font-weight: 600;
  list-style: none;
}

.nav-item-name a {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* Navbar Design End */

/* Navbar Responsive Start */
/* Small device */
@media screen and (max-width: 576px) {
  .nav-menu {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .navbar {
    margin: 35px 16px 22px 16px;
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .nav-title {
    font-size: 1rem;
    color: var(--primary-text-color);
  }
} /* Nav-Res-Small End */
/* Influencer section start */
.influencer-container {
  margin: 0px 130px 70px 120px;
  display: flex;
  gap: 130px;
}

.influencer-info {
  margin-top: 100px;
  padding: 5px;
}
.info-title {
  font-size: 3.25rem;
  line-height: 70px;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.info-description {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
  font-size: var(--primary-font-size);
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 25px;
}
.info-btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: var(--primary-font-size);
  padding: 10px 24px;
  border-radius: 41px;
  border-style: none;
}

.influencer-img {
  padding: 30px 33px 31px 2px;
  background-image: url("/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.in-img {
  width: 440px;
  height: 414px;
  object-fit: cover;
}
/* Influencer section end */

/* Responsive for Influencer section */
@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
  .influencer-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 14px;
  }

  .influencer-info {
    margin: 0px 5px 0px 5px;
    padding: 0px 25px;
    width: calc(100% - 60px);
    height: auto;
    text-align: center;
  }
  .info-title {
    font-weight: 700;
    margin-top: 10px;
    line-height: 40px;
    font-size: 1.75rem;
    color: var(--primary-text-color);
    margin-bottom: 15px;
  }
  .info-description {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--primary-text-color);
    margin-bottom: 20px;
  }
  .info-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-size: var(--primary-font-size);
    font-weight: 500px;
    padding: 10px 24px;
    border-radius: 40px;
    border-style: none;
    margin-bottom: 50px;
  }

  .influencer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 52px 0px 52px;
    padding: 0;
    width: calc(100% - 104px);
    height: 257px;
    background-image: url("/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .in-img {
    object-fit: cover;
    width: 202px;
    height: 200px;
  }
} /* Influence Section Responsive End */

/* Section -2 start */
.section-2 {
  margin: 0px 165px 100px 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ecommerce-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Responsive for section-2  start*/
@media (max-width: 576px) {
  .section-2 {
    /* width: calc(100% - ); */
    margin: 0px 42px 50px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .ecommerce-container {
    text-align: start;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
/* section-2 responsive end */

/* Section-3 Start */
.section-3 {
  margin: 0px 196px 100px 196px;
}
.collection-title > h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-text-color);
}
.collection-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.collection {
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.collection-img {
  object-fit: cover;
  margin-bottom: 16px;
}
.collection-title {
  text-align: start;
  font-size: 1.75rem;
  color: #18191f;
  font-weight: 500;
  margin-bottom: 6px;
}
.collection-price {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
}
.collection-description {
  font-size: 0.87rem;
  color: #787885;
}
.fa-regular {
  color: gold;
  font-size: 0.87rem;
}
.see-more {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
  text-align: end;
}
/* Section-3 End */

/* Section-3 REsponsive Start */
@media (max-width: 576px) {
  .section-3 {
    margin: 0px 15px 32px 15px;
    width: calc(100% - 30px);
    height: auto;
  }
  .collection-title > h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text-color);
  }
  .collection-container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
  }
  .collection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .collection-img {
    object-fit: cover;
    margin-bottom: 16px;
  }
  .see-more {
    margin-top: 32px;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
    text-align: end;
  }
}
/* Section-3 Responsive End */

/* Section-4 Start */
.section-4 {
  margin: 0px 165px 100px 195px;
}
.feature-container {
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 120px;
}

.feature-img > img {
  width: 465px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px;
}
.feature-info {
  margin: 23px 0px 23px 0px;
  width: calc(100% - 46px);
  padding-bottom: 5px;
}
.feature-title {
  line-height: 60px;
  font-size: 2.35rem;
  font-weight: 700;
  color: #0a0826;
  text-align: top start;
  margin-top: 0;
  margin-bottom: 16px;
}
.feature-description {
  max-width: 501px;
  line-height: 28px;
  font-size: 1rem;
  font-weight: 700;
  color: #6c6c6c;
  text-align: start;
  margin-bottom: 16px;
}
.feature-btn {
  max-width: 155px;
  max-height: 44px;
  padding: 10px 24px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: var(--primary-font-size);
  margin-bottom: 0px;
}
@media (max-width: 576px) {
  .section-4 {
    margin: 0px 15px 30px 15px;
    padding: 5px;
  }
  .feature-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
  }
  .feature-img > img {
    width: 350px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
  }
  .feature-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0px;
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
  }
  .feature-title {
    line-height: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0a0826;
    margin-top: 0;
  }
  .feature-description {
    max-width: 330px;
    /* line-height: 28px; */
    font-size: 1rem;
    font-weight: 700;
    color: #6c6c6c;
    text-align: justify;
  }
  .feature-btn {
    max-width: 155px;
    max-height: 44px;
    padding: 10px 24px;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-size: var(--primary-font-size);
    margin-bottom: 0px;
  }
}
